@font-face {
  font-family: svatba-title;
  src: url("../pictures/NotoSerifDisplay_SemiCondensed-Regular.ttf");
}
@font-face {
  font-family: svatba;
  src: url("../pictures/NotoSerifDisplay_SemiCondensed-Regular.ttf");
}

body {
  font-family: svatba, serif;
  font-size: 1.2rem;
  font-weight: bold;
}

h1 {
  font-family: svatba-title, serif;
  font-size: 3rem;
  font-weight: normal;
}
a {
  color: #3e7cd2;
  text-decoration: underline;
}
a.top {
  color:#5d5d97;
  text-decoration: none;
}
/* a:hover {
  text-decoration: none;
}
*/
a.top:hover {
  text-decoration: underline;
} 

.subtitle {
  font-family: svatba-title, serif;
}

.text-center a {
  text-decoration: none;
}

.header-bg {
  position: absolute;
  background-color: #ca8a04;
  /* background-image: url("pictures/levandule.jpg"); */
  background-image: url(../pictures/levandule.jpg);
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 100%;
  z-index: -1;
  /* Center and scale the image nicely */
  background-size: cover;
}

.header-content {
  opacity: 0;
  transition: opacity 10s linear;
}

.program b {
  font-weight: normal;
}
.qr-arrow {
  position: relative;
  display: inline-block;
  font-size: 2rem;
}

.sky {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001f3f;
  /* background-color: #000; */
  color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 10s linear;
}

.sun {
  /* display: none; */
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: opacity 5s linear;
  /* background: yellow; */
  /* border-radius: 50%; */
}

dialog {
  /* transition: opacity 0.5s, display 0.5s allow-discrete; */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  max-width: 800px;
}

dialog p {
  margin-bottom: .3rem;
}

dialog[open] {
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    /* background-color: green; */
  }
}