body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.header-bg {
  position: absolute;
  background-color: #ca8a04;
  /* background-image: url("pictures/levandule.jpg"); */
  background-image: url(../pictures/levandule.jpg);
  /* Add the blur effect */
  filter: blur(3px);
  /* -webkit-filter: blur(8px); */

  width: 100%;
  z-index: -1;
  /* Center and scale the image nicely */
  /* background-position: center; */
  background-size: cover;
}